---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        I'm a software developer from Ontario, Canada.
        <br />
        I have experience working with: 
      </p>
      <ul class="list-disc list-inside">
        <li>Python</li>
        <li>Java</li>
        <li>C</li>
        <li>Flutter (Dart)</li>
        <li>Swift</li>
        <li>x86 Assembly (ASM)</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      In addition to coding, I have interest and experience in music production, carpentry, and off-grid living solutions.
    </p>
    <!-- <p class="text-sm font-light">
      As a soon-to-be graduate in Computer Science from the University of Windsor, I've touched many different technologies and am eager to learn more while honing my skills in any area necessary.
    </p> -->
  </div>
</Card>
