---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-11" title="Education">
    <p class="text-sm font-light">
        <br />
        <ul class="list-inside">
            <li>
                <b class="font-bold">University of Windsor </b>
                <i>(2023 - Ongoing)</i>
                <br />
                BSc. Computer Science
                <br />
            </li>
            <br />
            <li>
                <b class="font-bold">University of Toronto</b>
                <i>(2015 - 2020)</i>
                <br />
                HBSc. Neuroscience & Human Biology
                <br />
            </li>
        </ul>
    </p>
</Card>
