---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-2" rowSpan="md:row-span-13" title="Projects">
  <p class="text-sm font-light">
    <br />
    <ul class="list-inside">
      <li>
        <b class="font-bold">Notestream: </b>a minimal, markdown-enabled
        notetaking solution for desktop (macOS, Linux) and - soon - mobile (iOS,
        Android). Built with Flutter.
        <br>
        <a href="https://github.com/maxuwilli/Notestream"
          >Check it out on Github.</a
        >
      </li>

      <br />
      <li>
        <b class="font-bold">Quotelic: </b> scroll through a library of curated famous
        quotes from popular authors and historical figures. Built for iOS using SwiftUI
        + SwiftData.
        <br>
        <a href="https://github.com/maxuwilli/Quotelic"
          >Check it out on Github.</a
        >
      </li>

      <br />
      <!-- <li>
        <b class="font-bold">Tachi (Micro Camper): </b> a self-contained, 4-season
        micro campervan. Converted from an NV200 cargo van, Tachi is built for both
        urban and wild survival and features a robust custom built auxilliary electrical
        system to provide continuous AC power to any appliance up to 2000 watts without
        needing to run the vehicle engine. More details coming soon!
      </li> -->
    </ul>
  </p>
</Card>
